@import '../../theme/index.scss';
.usertool{
    float: right;
    background:url('../../static/tri.png') no-repeat right center;
    padding-right: 16px;
    margin-top: 6px;
    margin-right: 16px;
}