.logo {
    cursor: pointer;
    box-sizing: inherit;
    float: left;
    height: 100%;
    padding: 6px 0 6px 17px;
    img {
        float: left;
        margin-right: 7px;
    }
    span {
        float: left;
        margin-top: 2px;
    }
    .logo_menuicon {
        float: left;
        margin: 6px 0 0 9px;
    }
    cursor: pointer;
}